/.vscode
.env
.env.uat
.env.backup
.env.prod
.env.*
.bak
*.log
vendor
/node_modules
.phpunit.result.cache
.php-cs-fixer.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
.env_production
/themes/m_classic/smarty_dir/templates_c/
**/templates_c/*
/member/storage/theme/smarty_dir/templates_c/
storage
infoctosbasis.zip
basis_admin
basis_member
*.gz
*.pem